* {
    margin: 0;
    border: 0;
}

body {
    background-color: #1C272B;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #14181B;
    padding: 2%;
}

#brand {
    padding-right: 40%;
}

a {
    color: #C9E5E8;
    font-weight: bold;
    text-decoration: none;
}

#coffee_bar {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    border-radius: 25%;
}

h1 {
    text-align: center;
    padding: 3%;
    color: #C9E5E8;
}

p {
    text-align: center;
    padding: 3%;
    color: #C9E5E8;
}

footer {
    background-color:#14181B;
    padding: 2%;
    flex: 0 0 50px;/*or just height:50px;*/
    margin-top: auto;
}

ul {
    display: flex;
    justify-content: space-around;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu > div {
    width: 30%;
    height: 300;
}

img {
    width: 100%;
    height: 70%;
    border-radius: 30%;
    border: #C9E5E8 solid;
}

.menu > div > p {
    padding: 0%;
}


@media screen and (max-width: 400px) {
    #brand{padding-right: 20%;}
}

#location {
    padding-top: 20px;
}

#location > p{
    padding: 1px;
}

#reviews {
    display: flex;
    justify-content: space-evenly;
}


#reviews > div {
    width: 30%;
    border: solid #C9E5E8;
}

table{
    margin:auto;
    width: 40%;
}

th, td {
    color: #C9E5E8;
    border: solid black;
}

footer > div {
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

#table {
    width: 50%;
    float: left;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 800px){
    #please {display: flex;
    flex-direction: column;}
    #table {padding-bottom: 30px;}
    .menu {display: flex;
    flex-direction: column;
    align-items: center;}
}